.intro {
  padding: 10px;
  max-width: 500px;
  width: 100%;
  margin: 100px auto 100px;
}

.fonts { 
  font-family: "Source Sans Pro", sans-serif; 
  font-weight: 300;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}