.intro {
  padding: 10px;
  max-width: 500px;
  width: 100%;
  margin: 100px auto 100px;
}

.fonts { 
  font-family: "Source Sans Pro", sans-serif; 
  font-weight: 300;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .4rem;
  padding-right: .4rem;
  width: 100%;
}

input[type=text] {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  background: #f5f5f5;
  border: 1px solid #a7a7a7;
  border-radius: 2px;
  transition: all 0.2s ease;
}
input[type=text]:hover {
  border-color: #111;
}
input[type=text]:focus {
  outline: none;
  border-color: #0062ff;
}


button {
  height: 40px;
  margin-bottom: 16px;
  padding: 5px 40px;
  outline: none;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  background: #111;
  border: 1px solid #111;
  border-radius: 2px;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.7;
}
button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}
button.outline {
  color: #111;
  background: none;
}
button.outline:hover,
button.outline:focus {
  color: #f5f5f5;
  background: #111;
}